@import "../../../_constants/style.constants";

.characters-item{
  border: solid 2px black;
  border-radius: 5px;
  height: 15vh;
  display: flex;
  flex-direction: row;
  padding: 25px;
  margin-top: 20px;
}

.characters-item-image{
  min-width: 150px;
  min-height: 150px;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.characters-item-content{
  padding-left: 25px;
  position: relative;
  h1{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  button{
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 45px;
    border: solid 1px black;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
    background-color: $primary;
    a{
      text-decoration: none;
      color: white;
    }
  }
}

@media screen and (max-width: 960px){
  .characters-item-image{
    min-width: 100px;
    min-height: 100px;
  }
  .characters-item-content{
    button{
      width: 100px;
      height: 45px;
    }
  }
}
@media screen and (max-width: 600px){
  .characters-item-content{
    button{
      top: 100px;
      border: none;
      box-shadow: none;
      height: 35px;
    }
  }
}
